* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  min-height: 100vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 20px;
}
